
<footer>
  {{>headerLinks}}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Contact Information</h4>
                    <p>Email: myemail@example.com</p>
                    <p>Phone: 123-456-7890</p>
                </div>
                <div class="col-md-6">
                    <h4>Follow Us</h4>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/_i_._m_._ni30?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><i class="fa fa-instagram"></i></a></li>                    </ul>
                </div>
            </div>
        </div>
        <p class="text-center">&copy; 2023 [Your Name]. All rights reserved.</p>
    </footer>